<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'/>
    <title>Password Vault</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='..\css\stylesheet.css'>
</head>
<body class='body'>
    <div class='header'>
        <p>Password Vault</p>
    </div>
    <div id="popupAddPassword" class="popup">
        <div id="popupContentAddPassword" class="popupContent">
            <span id="closeAddPassword" class="close">&times;</span><br>
            <label for="inputAddKey"><br>Key:<br><br></label>
            <input type="text" id="inputAddKey" placeholder="Key" autocomplete="off"></input><br>
            <label for="inputAddPassword"><br><br>Password:<br><br></label>
            <input type="text" id="inputAddPassword" placeholder="Password" autocomplete="off"></input><br><br><br>
            <button id="addPassword" class="headerButton">Add Password</button>
        </div>
    </div>
    <div id="popupDisplayPassword" class="popup">
        <div id="popupContentDisplayPassword" class="popupContent">
            <span id="closeDisplayPassword" class="close">&times;</span><br>
            <label for="inputDisplayKey"><br>Key:<br><br></label>
            <input type="text" id="inputDisplayKey" placeholder="Key" autocomplete="off" disabled></input><br>
            <label for="inputDisplayPassword"><br><br>Password:<br><br></label>
            <input type="text" id="inputDisplayPassword" placeholder="Password" autocomplete="off"></input><br><br><br>
            <button id="updatePassword" class="headerButton">Update Password</button><br><br>
            <button id="deletePassword" class="headerButton">Delete Password</button>
        </div>
    </div>
    <div id="popupMessage" class="popup">
        <div id="popupContentMessage" class="popupContent">
            <span id="closeMessage" class="close">&times;</span><br>
            <p id="popupMessageText"></p>
        </div>
    </div>
    <div>
        <button id="popupButtonAddPassword" class="headerButton">Add Password</button>
        <p><br></p>
    </div>
    <div class="display">
        <table id="passwordTable">
        </table>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='..\js\passwordVaultMethods.js'></script>
</body>
</html>