:root {
    --main-bg-color: #0571b5;
    --sec-bg-color: #ffffff;
    --tert-bg-color: #03436c4D;
    --fourth-bg-color: #03436c;
    --fifth-bg-color: #03436c99;
    --main-font-color: #ffffff;
    --sec-font-color: #03436c;
    --small-font-size: 12px;
    --medium-font-size: 18px;
    --large-font-size: 24px;
    --xlarge-font-size: 30px;
    --font-family: Arial, Helvetica, sans-serif;
    --button-bg-color: #0571b54D;
    --border-color: #ffffff;
    --main-border-width: 2px;
    --thick-border-width: 5px;
}

.body {
    background-color: var(--main-bg-color);
    text-align: center;
    font-size: var(--medium-font-size);
    font-family: var(--font-family);
    color: var(--main-font-color);
    font-weight: bold;
}

.header {
    font-size: var(--xlarge-font-size);
}

.headerButton {
    background-color: var(--button-bg-color);
    border-width: var(--main-border-width);
    border-color: var(--border-color);
    color: var(--main-font-color);
    font-size: var(--large-font-size);
    font-weight: bold;
}

input {
    width: 60%;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--sec-bg-color);
    text-align: center;
    font-size: var(--medium-font-size);
    font-family: var(--font-family);
    color: var(--sec-font-color);
    font-weight: bold;
}

p {
    font-size: var(--small-font-size);
}

.pu {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--main-bg-color);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.pu > hr {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-color: var(--main-bg-color);
    border-style: solid;
}

.puContent {
    background-color: var(--main-bg-color);
    margin: 10%;
    padding: 3%;
    width: 74%;
    height: 70%;
    border: var(--thick-border-width) solid var(--border-color);
    color: var(--main-font-color);
    font-size: var(--large-font-size);
    font-weight: bold;
}

.close {
    color: var(--main-font-color);
    float: right;
    font-size: var(--large-font-size);
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--main-font-color);
    text-decoration: none;
    cursor: pointer;
}

#main {
    top: 5%;
    height: 95%;
    overflow: auto;
}

#popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--fifth-bg-color);
    z-index: 2;
}

#popupMessage {
    font-size: var(--medium-font-size);
}