<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'/>
    <title>PasswordValidation</title>
    <link rel='stylesheet' href='..\css\stylesheet.css'>
</head>
<body class='body'>
    <div id='main' class='pu'>
        <hr>
        <div class='header'>
            Welcome!
        </div>
        <hr>
        <form id='passwordForm'>
            <br><br><br><br>
            <label>Please enter a password.</label><br><br>
            <input type='password' id='passwordInput' name='passwordInput' placeholder='Password' required autocomplete='off'><br><br>
            <button id='passwordSubmit' class='headerButton' type='submit'>Submit</button>
            <p>
                Passwords must have a minimum length of 8 characters.<br>
                Passwords must have at least 1 uppercase character.<br>
                Passwords must have at least 1 meta-character.<br>
            </p>
        </form>
    </div>
    <div id='popup' class='pu'>
        <div id='popupContent' class='puContent'>
            <span id='closePUContent' class='close'>&times;</span><br>
            <p id='popupMessage'></p>
        </div>
    </div>
    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='..\js\passwordValidation.js'></script>
</body>

</html>